<div class="container">
  <keg-sort (sortBy)="onSort($event)"></keg-sort>
  <div class="row">
    <div class="col-sm-4">
      <div id="tappedDiv">
        <h5>Tapped Kegs</h5>
        <div *ngFor="#currentKeg of kegList | tapped:filterTapped">
          <keg-display
            (click)="kegClicked(currentKeg)"
            [class.selected]="currentKeg === selectedKeg" [keg]="currentKeg">
          </keg-display>
          <keg-pour (empty)="deleteKeg($event)" [keg]="currentKeg">
          </keg-pour>
          <edit-keg-details *ngIf="currentKeg === selectedKeg" [keg]="selectedKeg"></edit-keg-details>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div  *ngFor="#currentKeg of kegList | tapped:filterNotTapped" id="notTappedDiv">
        <h5>Inventory</h5>
        <keg-display          (click)="kegClicked(currentKeg)"
          [class.selected]="currentKeg === selectedKeg"
          [keg]="currentKeg">
        </keg-display>
        <edit-keg-details *ngIf="currentKeg === selectedKeg" [keg]="selectedKeg"></edit-keg-details>
      </div>
    </div>
    <div class="col-sm-4">
      <new-keg (onSubmitNewKeg)="createKeg($event)"></new-keg>
    </div>
  </div>

</div>
